<!DOCTYPE html>
<html>
<head>
  <% include partials/headerlinks.ejs %>
</head>
<body>
  <% include partials/header.ejs %>
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- if index page -->
        <% if(typeof index !== "undefined") { %>

          <h1 class="pageheading"><%= pageTitle %></h1>

          <% include content/maincontent.ejs %>
        





        <% } %>
        <!-- endof index page -->
    </div>
  </div>
</div>
<!-- container -->  
  <% include partials/footer.ejs %>
  <% include partials/footerscripts.ejs %>
</body>
</html>