body {
    min-height:100%;
    margin:0;
    font-size:16px;
    box-sizing: border-box;
    /* flex-sticky-footer */
    display:flex;
    min-height:100vh;
    flex-direction:column;
    
}

.container {
    width:1200px;
    margin:0 auto;
    padding:1em;
    background-color:#f5f5f5;
    border:1px solid lightgray;
    /* flex-sticky-footer */
    flex:1;
    
}

.container p {
    text-align:center;
}


h1 {
    font-size:2em;
    text-align:center;
}

footer {
    height:90px;
}

footer p {
    text-align:center;
}