.jumbotron {
	margin-bottom: 0;
	width:100%;
	height: auto;
	background-image:url(../images/header.jpeg);
	background-size:cover;
	background-position: 0 25%;
	background-repeat: no-repeat;
	color:#fff;

}

.headerline {
  width:100%;
}

.headerline h1 {
  
}

.headerline p {
  
}

.foodIcon {
  width:100%;
  max-width: 42px;
  height: auto;
  display: inline-block;
  margin-left:.5em;
  opacity: .9;
  
  
  
}
