<footer class="footer clearfix">
    <div class="container">
        <div class="row row-content">
            <div class="col-6 col-sm-4">
                <h5>Links:</h5>
                <ul class="list-unstyled">
                    <li class="lisfoo">
                        <a class="btn btn-sm" href="/">Home</a>
                    </li>
                    <li class="lisfoo">
                        <a class="btn btn-sm" href="/about.html">About</a>
                    </li>
                    <li class="lisfoo">
                        <a class="btn btn-sm" href="/dishes">Dishes</a>
                    </li>
                    <li class="lisfoo">
                        <a class="btn btn-sm" href="/locations">Locations</a>
                    </li>
                    <li class="lisfoo">
                        <a class="btn btn-sm" href="/promotions">Promotions</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-5">
                <h5>Our Address:</h5>
                <address>
                    121 Bank Street
                    <br> Canary Wharf, London
                    <br>
                    <i class="fa fa-phone fa-lg"></i> +040 1234 5678
                    <br>
                    <i class="fa fa-envelope fa-lg"></i> Email:
                    <a href="mailto:consaga@food.com">
                        consaga@food.com</a>
                </address>
            </div>

            <div class="col-10 col-sm-3">
                <div style="text-align: right;">
                    <h5>Social Media:</h5>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <a class="btn btn-social-icon btn-google-plus" target="_blank" href="http://google.com/+">
                                <i class="fa fa-google-plus"></i>

                            </a>
                            <a class="btn btn-social-icon btn-facebook" target="_blank" href="http://www.facebook.com/profile.php?id=">
                                <i class="fa fa-facebook"></i>

                            </a>
                            <a class="btn btn-social-icon btn-facebook" target="_blank" href="http://www.linkedin.com/in/">
                                <i class="fa fa-linkedin"></i>

                            </a>
                        </div>

                        <div class="col-12 col-sm-12">
                            <a class="btn btn-social-icon btn-linkedin" target="_blank" href="http://twitter.com/">
                                <i class="fa fa-twitter"></i>

                            </a>
                            <a class="btn btn-social-icon btn-twitter" target="_blank" href="http://youtube.com/">
                                <i class="fa fa-youtube"></i>

                            </a>
                            <a class="btn btn-social-icon" target="_blank" href="mailto:">
                                <i class="fa fa-envelope-o"></i>

                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- endof row -->

        <div class="row row-content">
            <div class="col-5 col-sm-7 offset-4">
                <!-- <p class="copy">© Copyright 2018 Ristorante Conganas</p> -->
            </div>
        </div>
    </div>
</footer>