<div class="maincontent">
    <article class="article">
      <h3 class="article-title">Fit Foodie</h3>
        <p>A self-taught cook, Sarah Britton started blogging in 2007 to share her knowledge of holistic nutrition. (She attended the Institute of Holistic Nutrition in Toronto.) She's passionate about whole and vegan food—and creates mouthwatering recipes that prove it. You'll find everything from chunky chocolate buckwheat granola to sweet potato noodle soup (pictured). We love that you can also pick recipes by season.</p>
        <p>Despite ditching Big Macs, Alderson doesn't believe in being obsessive or counting calories (her philosophy is simply to exercise and eat well). All kinds of mouthwatering, plant-based dishes (including chickpea, quinoa, and turmeric curry; coconut and raspberry mousse; and sage and apricot nut roast with cranberry sauce) are turned out in Ella Woodward's sunny U.K. kitchen. But not everything here is sunbeams and smoothies: This blog is the result of the author's struggle with postural tachycardia syndrome, a rare and devastating disease that prompted her to revamp her diet and ditch processed foods.</p>
    </article><!-- article -->

    <article class="article">
      <h3 class="article-title">Minimalist Baker</h3>
      <p>Few things are more disappointing than finding what seems like the perfect recipe only to click and learn that it has more than 20 ingredients, several of which you've never heard of. True to its name, Minimalist Baker keeps things simple by sticking to 10 ingredients or less and limiting cook time to 30 minutes tops. Bonus: The recipes are anything but boring! From General Tso's tofu stir fry (pictured) to spicy buffalo chickpea wraps to toasted coconut pancakes, the culinary duo (John and Kate) really know how to pack tons of flavor into simple and oh-so-delicious dishes.</p>
      <p> Written by an avid triathlete and certified trainer, Running on Real Food covers nutritionally dense foods and fitness in a relatable way. Best of all, the author's healthy-eating philosophy is an open door: "There's no right or wrong way to eat healthy... We're all different with different nutritional requirements; however we all need to eat whole, nutritious foods. Start there." We couldn't have said it better </p>
    </article><!-- article -->
  
    <article class="article">
      <h3 class="article-title">Food Heaven!</h3>
      <p>Food Heaven Made Easy sounds like the name of an amazingly delicious food delivery service, but don't be fooled. The blog is actually a compilation of recipes, cooking videos, and nutrition tips. Adorable and extremely well-dressed dietitians Wendy Lopez and Jessica Jones appear in every video, teaching home cooks (no matter how strapped for time or inexperienced in the kitchen) that making healthy recipes from scratch is possible.</p>
      <p>Blogger Angela Liddon reclaimed her health by creating vegan recipes that are free of gluten and soy. But her creations also had to appeal to her husband, who, at the time, was "a devout fast-food lover" that "drank pop like water." Her efforts—recipes like smoky butternut squash sauce with pasta and greens; vegan Caesar salad; and sun-dried tomato, mushroom, and spinach tofu quiche—not only swayed her sig O, but a massive following of readers.</p>
    </article><!-- article -->
  
    <article class="article">
      <h3 class="article-title">Great kitchen stories</h3>
      <p>The blog is actually a compilation of recipes, cooking videos, and nutrition tips. Adorable and extremely well-dressed dietitians Wendy Lopez and Jessica Jones appear in every video, teaching home cooks (no matter how strapped for time or inexperienced in the kitchen) that making healthy recipes from scratch is possible.</p>
      <ul>
        <li>A self-taught cook, Sara Britton, and certified nutritionist</li>
        <li>Anya Kassoff was born and raised in Russia..is choosing Raw </li>
        <li>The Pizzalad. Neither a pizza nor a salad...what is it then?</li>
      </ul>
    </article><!-- article -->
  </div>